# dependencies
**/node_modules/*

# build artifacts
**/.next/*
**/build/*
**/dist/*
**/esnext/*
**/module/*

# unlintable file types
*.csv
*.d.ts.map
*.graphql
*.groovy
*.html
*.ico
*.jpg
*.json
*.lock
*.log
*.md
*.pem
*.png
*.svg
*.txt
*.yaml
*.yml
*.xml
*.mp4