# Dependencies
node_modules/

# Coverage and Testing
test-results/
coverage/

# Build Artifacts
build/
dist/
lib/
module/
esnext/
types/

/test-projects
/rdv-*

# Misc
.DS_Store
*.log*
*.iml
sw.*
.rdvue/
.env
.nuxt
.idea
.output


# OCLIF CLI related
/.nyc_output
/tmp
oclif.manifest.json
tsconfig.tsbuildinfo


