# Dependencies
node_modules/

# Coverage and Testing
test-results/
coverage/

# Build Artifacts
build/
dist/
lib/
module/
esnext/
types/

/test-projects
/rdv-*

# Misc
.DS_Store
*-debug.log
*-error.log
.rdvue/

# OCLIF CLI related
/.nyc_output
/tmp
oclif.manifest.json
tsconfig.tsbuildinfo